*{
    margin: 0;
    padding: 0;   
    width: 100%;
}

#Img1{
    width: 27rem;
    height: 25rem;
    margin-left: 6rem;
}

#FirstPart{
    margin: 3rem 5rem 0 0;
}

#Paragraph1{
    margin: 4rem 0 0 10rem;
}

#Paragraph1 h1{
    color: rgb(77, 118, 255);
    word-spacing: 3px;
    font-size: 50px;
    font-weight: 400;
}

#SecondPart{
    margin: 4rem 0 0 -5rem;
}

#paragraph2{
    margin-top: 9rem;
    margin-left: 14rem;
}

#paragraph2 h1{
    font-weight: 400;
    font-size:45px;
}

#paragraph2 p{
    font-weight: 500;
    word-spacing: 1px;
    margin-top: 4rem;
    font-size: 23px;
}

#Img2{
    width: 38rem;
    height: 33rem;
}

#Container{
    background-color: rgb(238, 251, 255);
    color: rgb(70, 152, 247);
    height: 15rem;
    width: 100%;
    padding: 4rem 10rem;
    margin-top: 4rem;
}

#Container h1{
    font-weight: 400;
    font-size: 55px;
    word-spacing: 5px;
    
}
#ThirdPart{
    margin: 2rem 5rem 0 0;
}

#Paragraph3{
    margin: 8rem 0 0 4rem;
    font-size: 21px;
    font-weight: 700;
    width: 50%;
}

#Img3{
    width: 30rem;
    height: 30rem;
}

#FourthPart{
    margin: 1rem 0 0 -5rem;
}

#paragraph4{
    margin-top: 9.5rem;
    margin-left: 14rem;
}

#paragraph4 h1{
    font-weight: 400;
    font-size:45px;
}

#paragraph4 p{
    font-weight: 500;
    word-spacing: 1px;
    margin-top: 4rem;
    font-size: 23px;
}

#Img4{
    width: 30rem;
    height: 30rem;
    margin-left: 4rem;
}

#FifthPart{
margin-top: -4rem;
}

#paragraph5{
    margin-top: 9.5rem;
    margin-right: 9rem;
}

#paragraph5 h1{
    font-weight: 400;
    font-size:45px;
}

#paragraph5 p{
    font-weight: 500;
    word-spacing: 1px;
    margin-top: 3rem;
    font-size: 23px;
}

#Img6{
    width: 30rem;
    height: 30rem;
    margin-left: 4rem;
}

#paragraph6{
    margin-top: 9.5rem;
    margin-left: 14rem;
}

#paragraph6 p{
    font-weight: 500;
    word-spacing: 1px;
    margin-top: 4rem;
    font-size: 23px;
}

#SixthPart{
    margin-top: -4rem;
}

#SeventhPart{
    margin-top: -4rem;
}

#paragraph7{
    margin-top: 9.5rem;
    margin-right: 3rem;
}

#paragraph7 p{
    font-weight: 500;
    word-spacing: 1px;
    margin-top: 4rem;
    font-size: 23px;
}

#BackImg1{
    background: url(/Images/3-8.svg);
    background-size:100%;
    height: 39rem;
    width: 100%;  
}

#Headers1{
    padding: 4rem;
}
#Container2{
    background-color: #C9E7FB;
    color: black;
    height: 15rem;
    width: 100%;
    padding: 4rem 0;
    text-align: center;
    
}

#Container2 h2{
    margin-top: 3rem;
    font-weight: 450;
    opacity: 90%;
}

#BackImg2{
    background: url(/Images/3-9.svg);
    background-size:100%;
    height: 34rem;
    width: 100%;  
}

#FormPartOne{
    background-color: #939FB3;
    padding: 3rem 4rem;
    color: #fff;
}

#FormPartOne h1{
    font-weight: 400;
}

#Headers2{
    margin-top: 2.5rem;
    font-weight: 650;
}

#Form{
    background-color: #fff;
    height: 6rem;
    border-radius: 0.5rem;
}

#FormPartTwo{
    background-color: #E9F4FD;
    padding: 3rem 4rem;
    color: black;
}

#FormPartTwo h1{
    font-weight: 400;
}

#Btn{
    margin-top: 3rem;
}

#SaveBtn{
    background-color: #fff;
    color: #26B7FE;
    border-radius: 2.5rem;
    border: 2px #1f91ca solid;
    text-align: center;
    width: auto;
    font-size: 35px;
    font-weight: 400;
    padding: 1rem 3rem;
}

#ResetBtn{
    background-color: #fff;
    color: #26B7FE;
    border-radius: 2.5rem;
    border: 2px #1f91ca solid;
    text-align: center;
    width: auto;
    font-size: 35px;
    font-weight: 400;
    padding: 1rem 3rem;
    margin-left: 2rem;
    margin-right: 35rem;
}

#SubmitBtn{
    background-color: #26B7FE;
    color: #fff;
    border-radius: 2.5rem;
    border: 2px #26B7FE solid;
    text-align: center;
    width: auto;
    font-size: 35px;
    font-weight: 400;
    padding: 1rem 3rem;
    margin-left: 1rem;
    
}


#LastPart{
    margin: 5rem 0 0 -11rem;
}

#paragraph11{
    margin-top: 4rem;
    margin-left: 12rem;
}

#paragraph11 h2{
    font-weight: 650;
    font-size:25px;
    word-spacing: 2px;
    margin-top: 4rem;
}

#Container3{
    background-color: #FFF5DE;
    color: black;
    height: 10rem;
    width: 100%;
    padding: 4rem 0;
    text-align: center;
    
}

#Container3 h1{
    font-weight: 400;
}

#Img11{
    width: 30rem;
    height: 30rem;
    margin-left: 4rem;
    margin-bottom: 4rem;
}